<form [formGroup]="productForm" (ngSubmit)="validateProducts()">
  <mat-tab-group class="mat-tab-fill-height" dynamicHeight (selectedIndexChange)="selectedIndexChange($event)"
    [selectedIndex]="selectedIndex">
    <!-- Product details-->
    <mat-tab label="Product">
      <div class="container-fluid">
        <div class="row rowBox">
          <div class="col-md-6 ">
            <label>
              <input type="file" (change)="handleFileInput($event.target.files)" multiple>
            </label>
            <div class="alert alert-danger" *ngIf="imageError">
              <h4>Please Select the images</h4>
            </div>
            <div class="row">
              <div class="col-md-6 pb-2" *ngFor="let url of urls">
                <mat-card>
                  <img class="img-fluid" [src]="url" height="600px" width="600px" />
                </mat-card>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <mat-card class="p-0">
              <mat-card-title class="">
                <div class="card-title-text"> Product Information</div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap">
                  <div fxFlex="100" class="p-5">
                    <div class="pb-1">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Product Name" formControlName="productName" required>
                        <mat-error *ngIf="productForm.controls['productName'].errors?.required">
                          Product Name is
                          <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="pb-1">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Price" formControlName="price">
                        <mat-error *ngIf="productForm.controls['productName'].errors?.required">
                          Enter the Valid
                          <strong>price</strong>
                        </mat-error>
                      </mat-form-field>

                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Color" formControlName="color">
                      </mat-form-field>
                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Description" formControlName="productDescription"></textarea>
                      </mat-form-field>
                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Overview" formControlName="overview"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Details">
      <div class="container">
        <div class="row rowBox">
          <div class="col-md-12">
            <mat-card class="p-0">
              <mat-card-title class="">
                <div class="card-title-text"> Details</div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap">
                  <div fxFlex="100" class="p-5">
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Style Code" formControlName="styleCode" required appUpperCase>
                        <mat-error *ngIf="productForm.controls['styleCode'].errors?.required">
                          Style Code is
                          <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="SKU Code" formControlName="skuCode" (keyup)="skuCodeVerify(skuvalue.value)"
                          appUpperCase required #skuvalue>
                        <mat-error *ngIf="productForm.controls['skuCode'].errors?.required">
                          SKU Code is
                          <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                      <div *ngFor="let data of productDetail">
                        <small *ngIf="data.skuCodeVerify">
                          SKU Code
                          <strong>exists</strong>
                        </small>
                      </div>
                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Brand" formControlName="brand">
                      </mat-form-field>
                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Dimensions" formControlName="dimensions"></textarea>
                      </mat-form-field>
                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Weight" formControlName="weight">
                      </mat-form-field>
                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Assembly" formControlName="assembly">
                      </mat-form-field>
                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Material" formControlName="material">
                      </mat-form-field>
                    </div>
                    <div class="pb-1">
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Package Details" formControlName="packageDetails"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- Category -->
    <mat-tab label="Category">
      <div class="container-fluid">
        <mat-card class="p-0">
          <mat-card-content>
            <div class="row">
              <div class="col-md-3">
                <mat-card class="p-0">
                  <mat-card-content>
                    <mat-card-title class="">
                      <small> Super Category</small>
                    </mat-card-title>
                    <div *ngFor="let data of superCategoryModel; let i = index">
                      <mat-card (click)="selectedSuperCategory(data)" [class.active]="data === category">
                        {{data.categoryName | titlecase}}
                      </mat-card>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-3" *ngIf="mainCategoryError">
                <h4>No results found</h4>
              </div>
              <div class="col-md-3" *ngIf="showMainCategory">
                <mat-card class="p-0">
                  <mat-card-content>
                    <mat-card-title class="">
                      <small> Main Category</small>
                    </mat-card-title>
                    <div *ngFor="let data of mainCategoryModel">
                      <mat-card (click)="selectedMainCategory(data)" [class.active]="data.mainCategoryName  === mainCategory">
                        {{data.mainCategoryName | titlecase}}
                      </mat-card>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-3" *ngIf="subCategoryError">
                <h4>No results found</h4>
              </div>
              <div class="col-md-3" *ngIf="showSubCategory">
                <mat-card class="p-0">
                  <mat-card-content>
                    <mat-card-title class="">
                      <small> Sub Category</small>
                    </mat-card-title>
                    <div *ngFor="let data of subCategoryModel">
                      <mat-card (click)="selectedSubCategory(data)" [class.active]="data.subCategoryName  === subCategory">
                        {{data.subCategoryName | titlecase}}
                      </mat-card>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-3" *ngIf="showCategory">
                <mat-card class="p-0">
                  <mat-card-content>
                    <mat-card-title class="">
                      <small> Selected Category</small>
                    </mat-card-title>
                    <mat-card>
                      {{subCategoryName | titlecase}}
                    </mat-card>
                    <!--  <div class="row p-2">
                    <div class="col-md-6">
                        <button mat-raised-button color="primary" type="submit">Submit</button>
                    </div>
                  </div> -->
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="container">
              <div class="row p-2">
                <div class="col-md-6 ">
                  <div class="float-left">
                    <button mat-raised-button color="primary" type="submit" (click)="cancel()">cancel</button>
                  </div>

                </div>
                <div class="col-md-6 ">
                  <div class="float-right">
                    <button mat-raised-button color="primary" type="submit">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

  </mat-tab-group>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-6">
        <div class="float-left">
          <button mat-raised-button type="button" color="accent" [hidden]="selectedIndex === 0 " (click)="selectPreviousTab(selectedIndex)">back</button>
        </div>
      </div>
      <div class="col-md-6 col-6">
        <div class="float-right">
          <button mat-raised-button type="button" color="accent" [hidden]="selectedIndex === 2" (click)="selectNextTab(selectedIndex)">next</button>
        </div>
      </div>
    </div>
  </div>
</form>